body {
    background-image: url(https://www.shutterstock.com/image-illustration/beautiful-abstract-3d-background-smooth-260nw-2277413173.jpg); 
    background-repeat: repeat-y;
    background-size: auto;
}