body {
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/575/46/desktop-wallpaper-abstract-aesthetic-face-line-art-women-line-art.jpg); 
    background-attachment: fixed;
    background-size: 50%;
}